/* @theme pmcf */

/* Imports */

@import 'default';

/* Fonts */

@font-face {
	font-family: "Lexend";
	src:
		url("https://www.pmcf.xyz/prez/fonts/LexendDeca-Regular.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Lexend";
	src:
		url("https://www.pmcf.xyz/prez/fonts/LexendDeca-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "LexendZetta";
	src:
		url("https://www.pmcf.xyz/prez/fonts/LexendZetta-Bold.ttf") format("truetype");
}

/* Base layout */

section {
	/* Variables */
	--fontFB: -apple-system, BlinkMacSystemFont, Segoe UI,Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--s1: 16px;
	--s2: calc(var(--s1) * 1.5);
	--s3: calc(var(--s2) * 1.5);
	--s5: calc(var(--s3) * 1.5);
	--s8: calc(var(--s5) * 1.5);
	--readLine: 880px;
	--paper: #f8f8f6;
	--charcoal: #23252f;
	--ink: #0050db;

	/* Regular styling */
	font-size: var(--s3);
	padding: var(--s8);
	background-color: var(--paper);
}
::backdrop {
	background-color: black;
}

/* Content */

section:not(.sep) h1, section:not(.sep) h2, section:not(.sep) h3, section:not(.sep) h4, section:not(.sep) h5, section:not(.sep) h6, section:not(.sep) p, section:not(.sep) ul, section:not(.sep) ol {
	max-width: var(--readLine);
}
section *, p, section::after {
	font-family: "Lexend", var(--fontFB);
	font-weight: normal;
	color: var(--charcoal);
}
p, ul, ol {
	font-size: var(--s2);
	line-height: 1.5em;
	padding: 0;
	margin: 0 0 1.5em;
}
ul, ol {
	padding-left: 1em;
}
li {
	margin: 0;
}
h1, h2, h3 {
    font-family: "LexendZetta", var(--fontFB);
	font-weight: bold;
	font-size: var(--s3);
	line-height: 1.125em;
	text-transform: uppercase;
	margin: 0 0 0.625em -0.125em;
	color: var(--charcoal);
}
h4, h5, h6 {
	font-weight: bold;
	line-height: 1.25em;
	color: var(--charcoal);
}
h4 {
	font-size: calc(var(--s2) * 1.25);
	letter-spacing: 0.03125em;
	margin: 0 0 0.75em;
}
h5 {
	font-size: var(--s2);
	letter-spacing: 0.0625em;
	margin: 0 0 1em;
}
h6 {
	font-size: calc(var(--s1) * 1.125);
	text-transform: uppercase;
	letter-spacing: 0.125em;
	margin: 0 0 1.5em;
}
a {
	color: var(--charcoal);
	text-decoration: underline;
}
a:hover,
a:active {
	color: var(--ink);
}
header {
	top: var(--s5);
}
footer {
	bottom: var(--s5);
}
header,
footer {
	left: calc(var(--s8) - 0.625em);
}
section::after {
	content: attr(data-marpit-pagination) ' of ' attr(data-marpit-pagination-total);
	text-align: center;
	right: calc(var(--s8) - 0.625em);
	bottom: var(--s5);
}
header,
footer,
section::after {
	font-size: var(--s1);
	height: auto;
	color: var(--charcoal);
	padding: 0 0.625em;
	border-radius: 1em;
	background-color: var(--paper);
	opacity: 0.4;
}
section[data-marpit-advanced-background="background"] > div[data-marpit-advanced-background-container] > figure {
	margin: 1em;
	border-radius: 1em;
}

/* Alt styles */

section.sep {
	text-align: center;
}
section:not(.sep) {
	justify-content: flex-start;
}
section.boost p, section.boost ul, section.boost ol {
	font-size: var(--s3);
	max-width: none;
}